<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>RustFox</string>
	<key>CFBundleDisplayName</key>
	<string>RustFox</string>
	<key>CFBundleIdentifier</key>
	<string>dev.rustfox.app</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleExecutable</key>
	<string>fox-desktop</string>
	<key>CFBundleIconFile</key>
	<string>rustfox</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © RustFox contributors</string>
	<key>LSUIElement</key>
	<false/>
</dict>
</plist>